{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'store/store.css' %}">
{% endblock %}

{% block content %}
<h1 id="heading">Product details</h1>

<section id="container">
    
    <h5>{{ind_product.product_name}}</h5>
    <p>{{ind_product.product_description}}</p>
    <p>{{ind_product.price_with_vat}} kr</p>
    
    <form action="{% url 'cart' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" value="{{ind_product.id}}", name="id">
        <input type="submit" value="cart">
    </form>
    
</section>

{% endblock %}